.container {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.codepen {
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 60%; }
  .codepen .h1 {
    font-size: 4em; }
  .codepen .p {
    font-size: 2em; }
