.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.codepen{
    position: relative;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    .h1{
    font-size: 4em;
}
    .p{
        font-size: 2em;
    }
}
