footer {
  background-color: $header-footer-color;
  box-shadow: 0 4px 8px 0 r$hf-shadow;
  font-family: $font-nav;

  li {
    display: inline;
    font-family: $font-nav;
    font-weight: $thin;
    padding: 5px;

    a {
      color: $header-footer-text-color;
      text-decoration: none;
    }
  }
}
