header {
    background-color: $header-footer-color;
    width: 100%;
    h1 {
        padding: 20px;
        color: $header-footer-text-color;
        font-size: 80px;
        font-family: $header-font-h1;
    }
}