header {
  background-color: $header-footer-color;
  box-shadow: 0 4px 8px 0 $hf-shadow;
  width: 100%;

  h1 {
    color: $header-footer-text-color;
    font-family: $header-font-h1;
    font-size: 80px;
    padding: 20px;
  }
}
