/* Colors */
/* Fonts */
.body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-flow: row wrap;
  width: 800px; }

.header {
  color: #ffffff;
  background-color: #01172F;
  width: auto;
  height: 80px;
  position: fixed;
  top: 0px;
  padding: 2%; }
  .header h1 {
    margin: 1% 0%; }

.information h4 {
  color: #00487C; }

.expedu {
  width: 60%;
  padding: 2%;
  margin-top: 96px;
  padding-bottom: 10%; }

.skills {
  width: auto;
  padding: 2%;
  margin-top: 96px; }
  .skills ul {
    list-style: none; }

footer {
  color: #ffffff;
  background-color: #01172F;
  width: auto;
  position: fixed;
  bottom: 0px;
  height: 80px; }
  footer ul {
    list-style: none; }
    footer ul li {
      display: inline; }
      footer ul li a {
        text-decoration: none;
        color: #30BCED; }
