* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

/*background colors*/
/*fonts*/
/*
8 column grid
*/
.grid-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #E8E8E8;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  min-height: 1px;
  width: 12.5%;
  padding: px;
}

.col-1 {
  width: 12.5%;
}

.col-2 {
  width: 25%;
}

.col-3 {
  width: 37.5%;
}

.col-4 {
  width: 50%;
}

.col-5 {
  width: 62.5%;
}

.col-6 {
  width: 75%;
}

.col-7 {
  width: 97.5%;
}

.col-8 {
  width: 100%;
}

.header {
  background-color: #01172F;
  color: #E8E8E8;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

.header .name {
  font-size: 1.5em;
}

.header .name h1 {
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  font-size: 3em;
}

.navcontainer {
  background-color: #0094C6;
  display: flex;
  justify-content: space-between;
  padding: 0 1%;
  color: #E8E8E8;
  font-size: 1.5em;
  /*Nav bar info*/
}

.navcontainer .nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navcontainer .nav ul li {
  margin: 5px;
  padding-right: 20px;
}

.navcontainer .nav ul li a {
  text-decoration: none;
  font-variant: small-caps;
  color: #E8E8E8;
}

.flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.body {
  flex-direction: column;
  margin: 2%;
  padding: 1%;
}

.body .exphead {
  font-variant: small-caps;
  font-size: 2.25em;
}

.body .expinfo {
  padding: 2%;
}

.body h4 {
  font-size: 1.5em;
  color: #00487C;
}

.body .ul-exp {
  padding: 0% 0% 0.5% 2.5%;
  list-style-type: circle;
}

.body .skill {
  padding: 2%;
  list-style-type: none;
}
