footer {
    color: $hf-fontcolor;
    background-color: $hf-background;
    width: 100%;
    height: 80px;
    margin-top: 20px;
    flex-grow: 1;
    text-align: center;
    ul {
        list-style: none;
        padding: 1%;
        li {
            display: inline;
            a {
                text-decoration: none;
                color: $f-linkcolor;
            }
        }
    }
}