.header{
    color: $hf-fontcolor;
    background-color: $hf-background;
    width: auto;
    height: 80px;
    position: fixed;
    top: 0px;
    padding: 2%;
    h1 {
        margin: 1% 0%;
    }
}
