.skills{
    width: auto;
    padding: 2%;
    margin-top: 96px;
    justify-content: center;
    
    h4 {
        margin-bottom: 1%;
    }
    
    ul {
        margin-top:1%;
        list-style: none;
    }
}