.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
  transition: 0.3s;
  width: 40%;
  font-family: $font-reg;
  display: inline-block;
  margin: 20px;

  :hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  }
}