.header {
    background-color: $hfbackground-color;
    color: $hftext-color;
    padding: 10px;
    margin: 0px;
    text-align: center;
    .name {
        font-size: 1.5em;
        h1 {
            margin: 0px;
            padding: 0px;
            padding-bottom: 10px;
            font-size: 3em;
        }
   
    }
}