// colors
$header-footer-color: #0e0975;
$header-footer-text-color: #f6f4f3;
$reg-text-color: #000;
$button-color: #db2b39;
$background-color: #a5a2a2;

// fonts
$header-font-h1: "Roboto", sans-serif;
$font-reg: "Roboto Condensed", sans-serif;
$font-nav: "Roboto", sans-serif;
$thin: 100;

// break points
$break-small: 320px;
$break-tablet: 840px;
$break-desktop: 1024px;